<!--Header-part-->

<!--close-Header-part-->


<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard2</a>
    <ul>
        <li><a><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
        <li><a><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
        <li><a><i class="icon icon-pencil"></i> <span>Eelements</span></a></li>

        <li class="submenu active"> <a href="#"><i class="icon icon-file"></i> <span>Addons</span> <span
                    class="label label-important">5</span></a>
            <ul>
                <li><a>Dashboard2</a></li>
                <li><a>Gallery</a></li>
                <li><a>Calendar</a></li>
                <li><a>Invoice</a></li>
                <li><a>Chat option</a></li>
            </ul>
        </li>

    </ul>
</div>
<div id="content">
</div>
<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2020 &copy; Alie-Sell xd
    </div>
    <!--end-Footer-part-->