<!--Header-part-->
<div id="header">
    Alie-Sell
</div>

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li class="dropdown" id="profile-messages"><a title="" href="#" data-toggle="dropdown"
                data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i> <span
                    class="text">Usuario</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <button (click)="cerrarSession()" class="btn btn-danger btn-mini">
                        Cerrar Session
                    </button>
                    <!-- <a><i class="icon-key"></i> Cerrar Sesion</a> -->
                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- barra de al lado xd -->
<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-fullscreen"></i>Full width</a>
    <ul style="display: block;">
        <li><a  [routerLink]="['/Admin']" routerLinkActive="router-link-active" ><i class="icon icon-user"></i>
                <span>Usuarios</span></a> </li>
        <li><a [routerLink]="['/SignUp']" routerLinkActive="router-link-active"><i class="icon icon-user"></i>
                <span>Reportes</span></a> </li>
    </ul>
</div>



<!--close-Header-part-->

<!-- Contenido -->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a class="tip-bottom">
                <i class="icon-home"></i>
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
            </div>
        </div>
    </div>

    <div id="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                        <h5>Clientes</h5>
                    </div>

                    <div class="widget-content nopadding">


                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th>Accion</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>genero</th>
                                    <th>Direccion</th>
                                    <th>Correo</th>
                                </tr>
                            </thead>

                            <!-- <div *ngIf="Clientes"> -->
                            <tbody>
                                <tr *ngFor="let cliente of Clientes">
                                    <td>
                                        <button (click)="getClient(cliente)" class="btn btn-success btn-mini">
                                            editar
                                        </button>
                                        &nbsp;&nbsp;&nbsp;
                                        <button (click)="getClient(cliente)" class="btn btn-danger btn-mini">
                                            eliminar
                                        </button>
                                    </td>
                                    <td>{{cliente.NOMBRE}}</td>
                                    <td>{{cliente.APELLIDO}}</td>
                                    <td>{{cliente.GENERO}}</td>
                                    <td class="center">{{cliente.DIRECCION}}</td>
                                    <td class="center">{{cliente.CORREO}}</td>

                                </tr>
                            </tbody>
                            <!-- </div> -->

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>
<!-- Termina Contenido-->

<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12">
        2020 &copy;Alie- Sell
    </div>
</div>
<!--end-Footer-part-->